 body {
      margin: 0;
      padding: 0;
      font-family: "arial", serif;
   }

   body {
    background-color: darkgray;
}.ribbon {
   position: relative;
   top: 5px;
   right: -1240px;
}

   .nav ul {
  list-style: none;
  background-color: black;
  text-align: center;
  padding: 0;
  margin: 0;
}
.nav li {
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid black;
}
 
.nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
}
 
.nav a:hover {
  background-color: darkgray;
}
 
.nav a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
}
 
@media screen and (min-width: 600px) {
  .nav li {
    width: 120px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
  }
 
  .nav li {
    display: inline-block;
    margin-right: -4px;
  }
ul.rig {
	list-style: none;
	font-size: 0px;
	margin-left: -2.5%; 
}
ul.rig li {
	display: inline-block;
	padding: 10px;
	margin: 0 0 2.5% 2.5%;
	background: #fff;
	border: 1px solid #ddd;
	font-size: 16px;
	font-size: 1rem;
	vertical-align: top;
	box-shadow: 0 0 5px #ddd;
	
}
ul.rig li img {
	max-width: 100%;
	height: auto;
	margin: 0 0 10px;
}
ul.rig li h3 {
	margin: 0 0 5px;
}
ul.rig li p {
	font-size: .9em;
	line-height: 1.5em;
	color: #999;
}

ul.rig.columns-2 li {
	width: 47.5%; 
}

ul.rig.columns-3 li {
	width: 30.83%; 
}

ul.rig.columns-4 li {
	width: 22.5%; 
 
@media (max-width: 480px) {
	ul.grid-nav li {
		display: block;
		margin: 0 0 5px;
	}
	ul.grid-nav li a {
		display: block;
	}
	ul.rig {
		margin-left: 0;
	}
	ul.rig li {
		width: 100% !important; 
		margin: 0 0 20px;
	}
}